<div class="container-fluid">
  <div class="container">   
       <h1 class="title">Juego Tic Tac Toe</h1>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 "> <button class="space"  (click)="newValue('x0y0')">{{player.x0y0}}</button>
          <button class="space"  (click)="newValue('x1y0')">{{player.x1y0}}</button>
          <button class="space"  (click)="newValue('x2y0')">{{player.x2y0}}</button></div>
          <div class="col-md-3 "> <button class="space"  (click)="newValue('x0y1')">{{player.x0y1}}</button>
           <button class="space"  (click)="newValue('x1y1')">{{player.x1y1}}</button>
           <button class="space"  (click)="newValue('x2y1')">{{player.x2y1}}</button></div>
          <div class="col-md-3 "> <button class="space"  (click)="newValue('x0y2')">{{player.x0y2}}</button>
          <button class="space"  (click)="newValue('x1y2')">{{player.x1y2}}</button>
          <button class="space"  (click)="newValue('x2y2')">{{player.x2y2}}</button></div>
        </div>
      </div>
      <div class="col-md-6 offset-1">
     <div class="row">
   <div class="col-md-10">
    <form #f="ngForm" (ngSubmit)="setNamesPlayers(f)">
      <h4>Ingresa los nombres de los Jugadores</h4>
    <input name="p1"type="text" ngModel placeholder="Nombre Jugador 1"/>
    <input name="p2"type="text" ngModel placeholder="Nombre Jugador 2"/><br>
    <button class="dark">Asignar</button>
    </form>
   </div>
     </div>
     <div *ngIf="texto" class="row jugadores">
      <h6 ><span>Jugador {{player1.name}} Ficha: {{player1.ficha}}  ;</span>
                      <span>  Jugador {{player2.name}} Ficha: {{player2.ficha}}</span></h6>

       <div class="col-md-10 mensaje">
         <h1>Mensaje</h1>
         <p>{{texto}}</p>
         <button *ngIf="reset" class="orange" (click)="resetGame()">Jugar Otravez</button>
       </div>
     </div>
     
      </div>
    </div>
  </div>
</div>
