.container{
    margin-top: -15%;
    margin-left: 5%;
}
.space{
    height: 150px;
    width: 150px;
    margin-left: 1.5%;
    font-size: xx-large;
    color: black;
    -webkit-box-shadow: -2px 2px 15px -8px #000000; 
    box-shadow: -2px 2px 15px -8px #000000;
}
.title{
    text-align: center;

}
.col-md-10{
    text-align: center;
    margin-left: 30%;
    margin-top: -38%;
}
input{
    margin-left: 5%;
}
.dark{
    margin-left: 6%;
}
.mensaje{
    border: 1px solid gray;
    border-radius: 15px;
    margin-left: 15%;
    margin-top: 5%;
    width: 80%;
}
.mensaje p{
    margin-top: 2%;
}
h6{
    text-align: center;
    margin-top: 4%;
   
}
.jugadores{
    text-align: center;
    margin-left: 33%;
}