.container-fluid{
    z-index: 99999;
}
.card,table{
    padding: 1%;
   
}
.table{
    width: 70%;
    margin-left: 15%;  

}
.card{
    -webkit-box-shadow: -2px 2px 15px -8px #000000; 
    box-shadow: -2px 2px 15px -8px #000000;
    width: 70%;
    margin-left: 15%; 
}
.col-md-6{
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.left-employee{
    margin-left: 40%;
    margin-top: -17%;
}
button{
    margin-left: 43%;
    margin-top: 5%;
    margin-bottom: 2%;
}
input[type=file]{
    width: 90%;
}
tr{
    border-bottom: 1px solid gray;
}
h1{
    text-align: center;
    margin-top: 3%;
}
a{
    cursor: pointer;

}
a:hover{
    font-weight: bold;
}
