.col-md-4  {
    text-align: center;
    -webkit-box-shadow: -2px 2px 15px -8px #000000; 
box-shadow: -2px 2px 15px -8px #000000;
margin-top: 6%;
width: 30%;
margin-left: 36%;
}
.card-body{
    margin-top: 10%;
}
